:root {
    --primary-color: #322e2d;
    --secondary-color: #dfdfcd;
    --accent-color: #f67e0c;
    --primary-color-dark: #1b1918;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    max-width: 1440px;
    
}

/* Header Styles */

header {
    text-align: center;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.9),
            rgba(0, 0, 0, 0.9)
          ),
          url('./assets/david-rodrigo-Fr6zexbmjmc-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* styling the ul elements */
header > nav > ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
}

header > nav > ul > li > a:hover {
    color: var(--accent-color);
}

header > nav > ul > li > a {
    color: var(--secondary-color);
    /* font-size: 1.2rem; */
}

header > nav > a {
    color: var(--accent-color);
}

/* removing the underline from the anchor tags */
a {
    text-decoration: none;

}

/* Hero Section Styles */
.hero {
    text-align: center;
    padding: 2rem;
    height: 85dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
     
}

.hero h1 {
    font-size: 5.5rem;
    margin-bottom: .5rem;
}

.hero p {
    font-size: 2.5rem;
    color: var(--accent-color);
}

.sociallinks {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.sociallinks > a > img {
    width: 2.5rem;
    height: 2.5rem;
    margin:  .5rem;
    background-color: var(--secondary-color);
    border-radius: 50%;
    border: 0.5px solid var(--accent-color);
}

/* about us section styles */
.about-us {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: left;
    align-content: start;
    line-height: 1.5rem;
}

.about-us h2 {
    font-size: 3rem;
    color: var(--accent-color);
}