.content {
  position: relative;
  z-index: 2;
  color: #dfdfcd;
}

.content > h1 {
  margin-bottom: 0.8rem;
  line-height: 4rem;
  font-family: 'Chubbo', sans-serif;
}

.content > p {
  margin-bottom: 0.6rem;
  font-family: 'Supreme', sans-serif;
}

/* .hero::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  z-index: 2;
} */

/* @media (max-width: 768px) {
  .hero::before {
    width: 100%;
    top: 3.8rem;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    z-index: 2;
  }
} */

.mob {
  z-index: 40;
  /* padding: 2rem; */
  background-color: rgba(252, 249, 244, 0.1);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
  color: #fcf9f4;
}

.service {
  padding: 0 0.5rem;
}

.cards {
  padding: 1rem;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.fabrication {
  isolation: isolate;
  position: relative;
  padding: 0.6rem;
  border-radius: 0.7rem;
}

.card {
  position: relative;
  padding: 0.6rem;
  border-radius: 0.7rem;
}

.card::after, .card::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #EA580C, transparent 25%);
  top: 50%;
  left: 50%;
   transform: translate(-50%, -50%);
  z-index: -2;
  padding: 2rem;
  border-radius: .5rem;
  animation:  3s spin linear infinite;
}
.fabrication:after, .fabrication:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #EA580C, transparent 25%);
  top: 50%;
  left: 50%;
   transform: translate(-50%, -50%);
  z-index: -2;
  padding: 2rem;
  border-radius: .5rem;
  animation:  3s spin linear infinite;
}

.card::before {
  filter: blur(.5rem);
  opacity: 1;
}

.icon:hover svg {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}



@keyframes spin {
  from { --angle: 0deg; }
  to { --angle: 360deg; }
}

.card > .img {
  padding: 0.6rem;
}

.card > .img > img {
  height: 1rem;
  width: 1rem;
}

.projects {
  padding: 3.5rem 1rem;
}

.legacy {
  background-color: #1c1c19;
  color: #fcf9f4;
  padding: 4rem 0.7rem;
}

@media (min-width: 1440px) {
  .marginAuto {
    max-width: 1440px;
    margin: 0 auto;
  }
}